<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?>
<target name="org.eclipse.dltk.core.targetplatform" sequenceNumber="25">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
            <unit id="org.apache.lucene.analyzers-common" version="6.1.0.v20161115-1612"/>
            <unit id="org.apache.lucene.core" version="6.1.0.v20170814-1820"/>
            <unit id="org.apache.lucene.queryparser" version="6.1.0.v20161115-1612"/>
            <!-- DLTK depends on Lucene 8.0, but Mylyn 3.24 depends on Lucene 6.1 -->
            <unit id="org.apache.lucene.core" version="8.0.0.v20190404-1858"/>
            <unit id="org.apache.lucene.analyzers-common" version="8.0.0.v20190404-1858"/>
            <unit id="org.apache.lucene.misc" version="8.0.0.v20190418-1455"/>
            <unit id="org.hamcrest.core" version="0.0.0"/>
            <unit id="org.hamcrest.integration" version="0.0.0"/>
            <unit id="org.hamcrest.library" version="0.0.0"/>
            <unit id="org.hamcrest.text" version="0.0.0"/>
            <unit id="org.junit" version="4.12.0.v201504281640"/>
            <unit id="org.junit.source" version="4.12.0.v201504281640"/>
            <unit id="org.mockito" version="2.23.0.v20190527-1420"/>
            <unit id="org.objenesis" version="2.6.0.v20180420-1519"/>
            <unit id="net.bytebuddy.byte-buddy" version="1.9.0.v20181107-1410"/>
            <unit id="net.bytebuddy.byte-buddy-agent" version="1.9.0.v20181106-1534"/>
            <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20190528213420/repository"/>
        </location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
            <unit id="org.eclipse.rse.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.context.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="0.0.0"/>
            <repository location="http://download.eclipse.org/releases/2019-09"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
			<repository location="http://download.eclipse.org/cbi/updates/license"/>
		</location>
    </locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>