<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?>
<target name="org.eclipse.dltk.core.targetplatform" sequenceNumber="25">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
            <unit id="org.hamcrest.core" version="0.0.0"/>
            <unit id="org.hamcrest.integration" version="0.0.0"/>
            <unit id="org.hamcrest.library" version="0.0.0"/>
            <unit id="org.hamcrest.text" version="0.0.0"/>
            <unit id="org.junit" version="4.12.0.v201504281640"/>
            <unit id="org.junit.source" version="4.12.0.v201504281640"/>
            <unit id="org.mockito" version="2.23.0.v20200310-1642"/>
            <unit id="org.objenesis" version="2.6.0.v20180420-1519"/>
            <unit id="net.bytebuddy.byte-buddy" version="1.9.0.v20181107-1410"/>
            <unit id="net.bytebuddy.byte-buddy-agent" version="1.9.0.v20181106-1534"/>
            <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
            <unit id="org.apache.lucene.core" version="9.4.2.v20221211-0752"/>
            <unit id="org.apache.lucene.analysis-common" version="9.4.2.v20221211-0752"/>
            <unit id="javax.activation" version="1.2.2.v20221203-1659"/>
            <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230302014618/repository"/>
        </location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
            <unit id="org.eclipse.rse.feature.group" version="0.0.0"/>
            <unit id="javax.annotation" version="0.0.0"/>
            <unit id="javax.inject" version="0.0.0"/>
            <unit id="org.apache.felix.scr" version="0.0.0"/>
            <unit id="org.slf4j.api" version="0.0.0"/>
            <unit id="com.sun.jna" version="0.0.0"/>
            <unit id="org.eclipse.e4.emf.xpath" version="0.0.0"/>
            <unit id="org.eclipse.fx.osgi" version="0.0.0"/>
            <unit id="org.apache.commons.jxpath" version="0.0.0"/>
            <unit id="org.apache.xmlgraphics" version="0.0.0"/>
            <unit id="org.apache.commons.io" version="0.0.0"/>
            <unit id="org.apache.commons.logging" version="0.0.0"/>
            <unit id="org.eclipse.urischeme" version="0.0.0"/>
            <unit id="com.sun.jna.platform" version="0.0.0"/>
            <unit id="org.apache.commons.lang" version="0.0.0"/>
            <unit id="org.apache.commons.codec" version="0.0.0"/>
            <unit id="org.apache.commons.httpclient" version="0.0.0"/>
            <unit id="org.apache.xerces" version="0.0.0"/>
            <unit id="org.apache.xml.resolver" version="0.0.0"/>
            <unit id="com.sun.xml.bind" version="0.0.0"/>
            <unit id="javax.xml" version="0.0.0"/>
            <unit id="org.apache.httpcomponents.httpcore" version="0.0.0"/>
            <unit id="org.apache.httpcomponents.httpclient" version="0.0.0"/>
            <unit id="org.apache.xmlrpc.client" version="0.0.0"/>
            <unit id="org.apache.xmlrpc.common" version="0.0.0"/>
            <unit id="org.apache.ws.commons.util" version="0.0.0"/>
            <unit id="org.sat4j.core" version="0.0.0"/>
            <unit id="org.sat4j.pb" version="0.0.0"/>
            
            <repository location="https://download.eclipse.org/releases/2023-06"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.mylyn.commons.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.commons.identity.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.commons.activity.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.commons.notifications.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.commons.repositories.feature.feature.group" version="0.0.0"/>
            
            <unit id="org.eclipse.mylyn.context.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.ide.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.monitor.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.context.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.discovery.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.tasks.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.mylyn.team.feature.feature.group" version="0.0.0"/>
            
            <unit id="org.apache.lucene.analysis-common" version="0.0.0"/>
            <unit id="org.apache.lucene.core" version="0.0.0"/>
            <unit id="org.apache.lucene.queries" version="0.0.0"/>
            <unit id="org.apache.lucene.queryparser" version="0.0.0"/>
            <unit id="org.apache.lucene.sandbox" version="0.0.0"/>
            <unit id="com.sun.xml.bind" version="0.0.0"/>
            <unit id="jakarta.xml.bind" version="0.0.0"/>
            <unit id="javax.xml.stream" version="0.0.0"/>
            <unit id="com.google.guava" version="0.0.0"/>
            <unit id="com.google.guava.failureaccess" version="0.0.0"/>
            
            <unit id="javax.xml.stream" version="0.0.0"/>
            <repository location="https://download.eclipse.org/mylyn/updates/milestone/latest/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
			<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/cbi/updates/license"/>
		</location>
    </locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>
